@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    color: white;
}

#links {
    margin-left: 75px;
    font-size: 30px;

}

html {
    background-image: linear-gradient(to bottom, #000000ef, #000000de);
  }

body {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 50px;
    margin-left: 10%;
    display: flex;
    color: rgb(150, 58, 6);
  }
  
  .banner {
    background-color: rgba(65, 63, 63, 0.336);
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    height: 100px;
  }
  
  .title {
    padding-left: 15px;
    font-size: 50px;
    width: 33%;
    height: 25%;
    color: rgb(255, 81, 0);
  }
  

h2, h3 {
    color: rgb(150, 58, 6);
}

.service-title {
    color: rgb(150, 58, 6);
}

.container_1 {
    justify-content: space-between;
    align-items: center;
    background-color: rgba(65, 63, 63, 0.336);
  }

.title {
    padding-left: 15px;
    font-size: 50px;
    width: 33%;
    height: 25%;
    color: rgb(255, 81, 0);
}

#flags {
    margin-left: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

#element {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 0;
}

#element:last-child {
    margin-right: 50px; 
    margin-bottom: 0;
}

.navbar ul {
    background-color: rgb(71, 87, 150);
    display: flex;
    padding: 20px;
    list-style: none;
    margin: 0 auto;
    height: 40px;
    width: 96.7%;
}

.navbar li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(209, 209, 209)
}

.skills {
    background-color: rgba(65, 63, 63, 0.336);
    display:inline-table;
    width: 400px;   
    position: absolute;
    top: 55%;
    right: 17.5%;
    padding: 5px;
}

.portfolio {
    background: rgba(65, 63, 63, 0.336);
    width: 50%;
    height: 500%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    scroll-behavior: smooth;
    border-radius: 5px;
}

.background {
    background: rgba(65, 63, 63, 0.336);
    text-decoration: underline;
    padding: 5px;
}

.contact-form label {
    display: block;
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
  }

.contact-form input {
  display: block;
  width: 300px;
  height: 20px;
  margin-bottom: 10px;
  color: black
}

.contact-form textarea {
    display: block;
    width: 500px;
    height: 100px;
    margin-bottom: 10px;
    color: black;
}

.contact-form label {
  font-weight: bold;
}

.contact {
    background-color: rgba(65, 63, 63, 0.336);
    width: 50%;
    height: 400%;
    padding: 10px;
    border-radius: 5px;
}

.button {
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 1.5px;
}

.box {
    background-color: rgba(65, 63, 63, 0.336);
    padding: 5px;
}

.line-break {
    display: block;
    margin: 1em 0;
    height: 2px;
    background-color: rgb(71, 87, 150);
}

.Qualifications {
    max-width: 50%;
}

.about-container {
    display: flex;
    grid-gap: 100px; /* Gap between columns */
    margin-top: 50px;
}

.column p {
    width: 500px;
}

.language-select {
    padding: 5px;
    margin-left: 80%;
}
