@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

:root {
  --primary-color: #007714;
  --secondary-color: #3f816b;
  --accent-color: #bb7e58;
  --background-color: #213641;
  --text-color: #333333;
}

* {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  padding-bottom: 200px;
}

#flags {
  margin-left: 95%;
}

.container-1 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.main-container {
  padding: 10px;
  height: 400px;
  margin-bottom: 50px;
  display: flex; /* Add flex display */
  width: 80%;
}

.about {
  flex: 1; /* Add flex property */
}

.resume-container {
  max-width: 1000px;
  flex: 1; /* Add flex property */
}

.resume-frame iframe {
  width: 150%;
  height: 500px;
}

.navbar {
  background-color: var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.navbar ul li a:hover {
  color: rgb(250, 231, 231);
}

.logo h1 {
  color: #ddab8c;
  font-size: 24px;
}

.logo h1:hover {
  color: #bb7e58;
}

.about {
  background-color: white;
  padding: 40px;
  margin-top: 40px;
  width: 900px;
  margin-left: 50px;
}

.employment,
.qualifications {
  display: inline-block;
  vertical-align: top;
  gap: 40px;
  max-width: 40%;
  margin-left: 100px;
}

.employment ul,
.qualifications ul {
  flex: 1;
}

.employment li,
.qualifications li {
  margin-bottom: 20px;
}

.employment h2,
.qualifications h2 {
  margin-bottom: 10px;
}

.qualifications-list {
  margin-top: 20px;
}

.qualifications ul {
  margin-top: 10px;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}

.section-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  display: block;
}

.skills {
  position: relative;
  top: 70px;
  padding: 40px;
  margin-top: 50px;
  margin-bottom: 0;
  max-width: 1000px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.dropdown-btn {
  display: inline;
  background-color: var(--accent-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 15px;
}

.dropdown-btn:focus {
  outline: none;
}

.dropdown-btn:hover {
  background-color: #9b593d;
}

#resume-iframe {
  display: none;
  width: 150%;
  padding-left: 20px;
}

.picture {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.picture img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
}

.skills-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service {
  background-color: rgba(58, 98, 117, 0.8);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.service-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.icon {
  margin-bottom: 10px;
}

#links {
  margin-bottom: 10px;
}

#links a {
  margin-right: 10px;
  color: var(--primary-color);
  text-decoration: none;
}

.footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: -100px;
  position: relative;
  bottom: -200px;
}

.footer p {
  font-size: 14px;
}

